@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0 : #737F86;
    --cor1 : #E3A69C;
    --cor2 : #E2272A;
    --cor3 : #131E1D;
}

body {
    height: 100vh;
    background-image: linear-gradient(#737F86,#976f68,#131e1d52);
    background-repeat: no-repeat;
    position: relative;
}

main {
    box-sizing: border-box;
    width: 74.2vw;
    background-color: #392a28;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.imagem {
    background-image: url('../imagens/imagem-700.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 74.2vw;
    background-color: white;
    display: inline-block;
}

div.login {
    display: inline-block;
    height: 200px;
    width: 70vw;
    margin-left: -10px;
}

div.login > h1 {
    margin-top: 10px;
    text-align: center;
    color: wheat;
    padding: 5px;
}

div.login > p {
    margin-left: 15px;
    width: 64vw;
    text-align: center;
    font-size: 0.9em;
    color: wheat;
    padding-bottom: 10px;
}

input#imail, input#isenha {
    border-radius: 10px;
    border: 2px solid rgba(90, 22, 22, 0.881);
    background-color: wheat;
    display: block;
    margin: auto;
    width: 64vw;
    height: 25px;
    padding: 5px;
}

::placeholder {
    color: #4f3935;
    text-align: center;
}



input#imail:focus, input#isenha:focus{
    background-color: rgb(246, 234, 213);
}

[type='submit'] {
    border-radius: 10px;
    border: 3px solid rgba(90, 22, 22, 0.881);
    background-color: wheat;
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 19.5vw;
    height: 35px;
    padding: 5px;
}

[type='submit']:hover {
    background-color: rgb(246, 234, 213);
    cursor: pointer;
}





